Source: ros-hydro-rosjava-core
Section: misc
Priority: extra
Maintainer: Damon Kohler <damonkohler@google.com>
Build-Depends: debhelper (>= 7.0.50~), ros-hydro-catkin, ros-hydro-rosjava-bootstrap, ros-hydro-rosjava-build-tools, ros-hydro-rosjava-messages
Homepage: http://ros.org/wiki/rosjava_core
Standards-Version: 3.9.2

Package: ros-hydro-rosjava-core
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, 
Description: An implementation of ROS in pure-Java with Android support.
