Source: ros-kinetic-rosjava-core
Section: misc
Priority: extra
Maintainer: Damon Kohler <damonkohler@google.com>
Build-Depends: debhelper (>= 9.0.0), ros-kinetic-catkin, ros-kinetic-geometry-msgs, ros-kinetic-nav-msgs, ros-kinetic-rosgraph-msgs, ros-kinetic-rosjava-bootstrap, ros-kinetic-rosjava-build-tools, ros-kinetic-rosjava-messages, ros-kinetic-rosjava-test-msgs, ros-kinetic-sensor-msgs, ros-kinetic-tf2-msgs
Homepage: http://ros.org/wiki/rosjava_core
Standards-Version: 3.9.2

Package: ros-kinetic-rosjava-core
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, 
Description: An implementation of ROS in pure-Java with Android support.
